.input-group {
    margin-top: 200px;
    width: 100px;
    height: auto;
    position: absolute;
    top: -100px;
    right: 500px;

}

.container{
    margin-top: 200px;
    width: 100px;
    height: auto;
    position: absolute;
    top: -100px;
    right: 100px;
}