<!--定义导航栏-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <!--导航栏商标-->
        <a class="navbar-brand" href="#">我的博客</a>

        <div> <!--右上角导航入口-->
            <ul class="navbar-nav">
                <!--条目-->
                {% if login_user_id %}
                    <li class="nav-item">
                        <!--前面的article是在项目根目录的urls.py中定义的app的名称-->
                        <!--后面的article_list是在app中的urls.py中定义的具体的路由地址-->
                        <a class="nav-link" href="{% url 'article:article_list' %}">首页</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'article:article_create' %}">新增</a></li>
                    <!--判断用户登录状态的逻辑-->
                    <li class="nav-item"><a class="nav-link" href="{% url 'userprofile:user_center' login_user_id %}">个人中心</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'userprofile:user_logout' %}">注销</a></li>

                    <!--如果用户已经登录，则现实用户名下拉框-->
{#                    <li class="nav-item dropdown">#}
{#                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"#}
{#                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                            {{ user.username }}#}
{#                        </a>#}
{#                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#                            <a class="dropdown-item" href="{% url 'userprofile:user_logout' %}">注销</a>#}
{#                        </div>#}
{#                    </li>#}

                {% else %}
{#                    <a class="nav-link" href="{% url 'userprofile:user_logout' %}">注销</a>#}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'userprofile:user_login' %}">登录</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>